footer {
  background-color: #79939b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  padding: 20px;
  transition: 0.5s;
  margin: 1vh;
  border-radius: 12px;
}

.footer-text {
  color: var(--primary);
  transition: 0.5s;
}
.dev-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 5px; */
}

.dev-icon:hover {
  transform: rotate(-180deg);
  transition: 1s;
}

.footer-link:hover {
  color: var(--fun);
  transition: 0.3s;
}

@media (max-width: 900px) {
  footer {
    height: 8svh;
    font-size: 0.9em;
  }
}
